* {
  text-decoration: none;
}

.container {
    display: flex;
    background-color: darkblue;
  }
  
  .item {
    flex-grow: 1;
    height: auro;
    display: flex;
    background-color: darkred;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 25px;
    justify-content: center; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: fixed;
  }
  
  .item + .item {
    margin-left: 2%;
    text-align: center;
  }

.container-2{
    width: 1vh;
    height: 1vh;
    background-color: black;
}
a {
  color: black;
}

a:hover {
  font-size: 25px;
  transition: font-size 1s;
  text-decoration: underline;
}


a:link {
  color: black;
}


a:visited {
  color: black;
}


a:hover {
  color: black;
}


a:active {
  color: black;
}

a:hover {font-size: 125%;}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px;
  display: flex;
  justify-content: center;
  
}

li{
  border: 1px;

}

rektangle{
  width: 20px;
  height: 20px;
}